# Improve GitHub language stats and ignore build output

dist/** linguist-vendored
src/output.css linguist-generated
src/input.css linguist-language=CSS
*.min.js linguist-minified
*.min.css linguist-minified
